{% extends 'base.html' %}
{% load static %}
{% block title %}
- latest
{% endblock title %}

{% block body_block %}
<div class="container  footer_padding" style="padding-top:2.5cm;">
{% for i in posts %}
 
<h1><i class="fa fa-question-circle"><a href="/forum/latest_link/{{i.pk}}/" >{{i.title}}</a></h1>
<h5><b>POST~<b/></h5>

	<h5><p class="lead text-info">
    	{{ i.body|safe|linebreaks }}</p></h5>
	<b>votes</b>={{i.count}}

<div class="post_meta">
	by <b>{{i.user}}</b> | {{ i.created_date }}
</div>
<br/>

{% endfor %}


</div>
{% endblock %}
